#tmp
*.tmp
*.bak
*.swp
*~.nib

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Locally stored "Eclipse launch configurations"
*.launch

src/.classpath
src/.settings
src/gen/
out/
lib/
src/.externalToolBuilders/
src/.settings/
src/.project
src/.cproject
src/.buildpath
