<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.retroshare.remote"
    android:versionCode="1"
    android:versionName="1" >
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="RetroShare Remote" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    <activity
	        android:name=".PeersActivity"
	        android:label="@string/peers" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.example.retroshare.remote.MainActivity" />
	    </activity>ChatlobbyActivityChatlobbyActivity
	    <service android:name=".RsService"></service>
	    <activity android:name=".ChatlobbyActivity" android:label="@string/chat"></activity>
	    <activity android:name=".ChatActivity"></activity>
    </application>

</manifest>