<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="org.retroshare.android"
		  android:versionCode="1"
		  android:versionName="1.0"
		  android:installLocation="auto" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Android Authenticator Permission BEGIN -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <permission android:name="org.retroshare.android.auth" android:label="Retroshare Authentication" android:protectionLevel="dangerous" />
    <!-- Android Authenticator Permission BEGIN -->

    <!-- Android Sync Provider Permission BEGIN -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- Android Sync Provider Permission END -->

    <application
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:debuggable="true">
		<activity android:name=".MainActivity" android:label="RetroShare Remote" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
				android:name=".PeersActivity"
				android:label="@string/peers" >
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="org.retroshare.android.MainActivity" />
		</activity>
		<activity android:name=".ChatLobbiesActivity" android:label="@string/chat_lobbies"></activity>
		<activity android:name=".ChatLobbyActivity"></activity>
		<activity android:name=".ChatActivity" />
		<activity android:name=".AddFriendMethodChooserActivity">
			<!-- TODO Move this to a new activity for adding certificates
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="retroshare" android:host="certificate"/>
			</intent-filter>
			  -->
		</activity>
		<activity android:name=".PeerDetailsActivity"></activity>
		<activity android:name=".ShowQrCodeActivity"></activity>
		<activity android:name=".FilesActivity" android:label="@string/files"></activity>
		<activity android:name=".AddDownloadActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="retroshare" android:host="file"/>
			</intent-filter>
		</activity>
		<activity android:name=".ShowSearchResultsActivity"></activity>
		<activity android:name=".ListSearchesActivity"></activity>
		<activity android:name=".AddServerActivity"></activity>

		<!-- Android RetroShare Proxy BEGIN -->
		<service android:name=".RetroShareAndroidProxy" />
		<!-- Android RetroShare Proxy END -->

		<!-- Android Authenticator BEGIN -->
		<activity
				android:name=".authenticator.AccountActivity"
				android:label="@string/authenticator_preference_category_server">
		</activity>
		<service
				android:name=".authenticator.AuthenticationService"
				android:exported="true"
				android:permission="org.retroshare.android.auth">
			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>
			<meta-data
					android:name="android.accounts.AccountAuthenticator"
					android:resource="@xml/authenticator" />
		</service>
		<activity
				android:name=".authenticator.AccountPreferenceActivity">
			<intent-filter>
				<action android:name="org.retroshare.android.authenticator.AccountPreferencesActivity.ACCOUNT_SETUP" />
			</intent-filter>
		</activity>
		<!-- Android Authenticator END -->

		<!-- Android Sync Provide BEGIN -->
		<service android:name=".sync.ContactsSyncAdapterService" android:exported="true"><!-- android:process=":contacts" ( This cause Contact Sync Provider run in another process and make mandatory use of AIDL that at moment we want avoid due to lack of time ) -->
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>
			<meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_contacts" />
		</service>


		<activity android:name=".ContactMethodChooserActivity"
				android:noHistory="true" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.SENDTO" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="im" />
				<data android:scheme="imto" />
				<data android:host="@string/retroshare_im_custom_proto" />
			</intent-filter>
		</activity>
		<!-- Android Sync Provide END -->


    </application>

</manifest>